extends layout

block content
    main
        div(class='container')
            h1(class='center') #{title} 
            h4(class='center') ( ͡° ͜ʖ ͡°)
            h5(class='center') Search Trends
            div(class='row')
                div(class='col s6')
                    div(class='row')
                        div(id='googlecontainer')
                div(class='col s6')
                    div(class='row')
                        div(id='twittercontainer')
        script(src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin)
        script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin)
        script(src="googlecontainer_component.js")
        script(src="twittercontainer_component.js")
